UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: TopLevel
PointerAlignment: Left
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: true
FixNamespaceComments: true
#IndentPPDirectives: AfterHash
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
NamespaceIndentation: None
