[submodule "components/M5StickC"]
	path = components/M5StickC
	url = https://github.com/m5stack/M5StickC.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
